/* line 8, _variables.scss */
body {
  font-family: arial, sans-serif;
  font-weight: normal; }

/* line 15, _variables.scss */
.header > .container h1, h2, .book-btn, .booking-widget label, .phone-area h2 {
  font-family: 'GothamHTF-Black', arial, sans-serif;
  font-weight: normal; }

/* line 20, _variables.scss */
.col p, .booking-widget select, .booking-widget p.btn-primary, div.custom-select select, div.custom-select select:first-child, div.custom-select select option, .mobile-footer h3 {
  font-family: 'Arial-BoldMT', arial, sans-serif;
  font-weight: normal; }

/* line 25, _variables.scss */
.sml-txt > a, .widget h2, h3, .phone-area h2 + p {
  font-family: 'GothamHTF-Bold', arial, sans-serif;
  font-weight: normal; }

@font-face {
  font-family: 'GothamHTF-Black';
  src: url("../fonts/gotham/GothamHTF-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamHTF-Black.otf") format("opentype"), url("../fonts/gotham/GothamHTF-Black.woff") format("woff"), url("../fonts/gotham/GothamHTF-Black.ttf") format("truetype"), url("../fonts/gotham/GothamHTF-Black.svg#GothamHTF-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamHTF-Bold';
  src: url("../fonts/gotham/GothamHTF-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/GothamHTF-Bold.otf") format("opentype"), url("../fonts/gotham/GothamHTF-Bold.woff") format("woff"), url("../fonts/gotham/GothamHTF-Bold.ttf") format("truetype"), url("../fonts/gotham/GothamHTF-Bold.svg#GothamHTF-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arial-BoldMT';
  src: url("../fonts/arial/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../fonts/arial/Arial-BoldMT.woff") format("woff"), url("../fonts/arial/Arial-BoldMT.ttf") format("truetype"), url("../fonts/arial/Arial-BoldMT.svg#Arial-BoldMT") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 27, _customise.scss */
.or {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/or.png) center left no-repeat;
  z-index: 1000;
  display: block;
  left: -24px;
  top: 0; }

@media only screen and (min-width: 250px) and (max-width: 992px) {
  /* line 40, _customise.scss */
  .booking-widget > .or {
    display: none; } }

@media only screen and (min-width: 250px) and (max-width: 992px) {
  /* line 48, _customise.scss */
  .book-col > .or {
    background-position: bottom center;
    z-index: 1000;
    display: block;
    top: 24px;
    left: 0;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 993px) {
  /* line 62, _customise.scss */
  .container {
    width: 99%; } }

/* line 70, _customise.scss */
.container > .navbar-header {
  width: 100%; }
  @media only screen and (min-width: 993px) {
    /* line 70, _customise.scss */
    .container > .navbar-header {
      margin-left: -15px; } }
  @media only screen and (max-width: 430px) {
    /* line 70, _customise.scss */
    .container > .navbar-header {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0; } }

/* line 88, _customise.scss */
body {
  overflow-x: hidden; }

/* line 94, _customise.scss */
.navbar-default {
  background-color: #fff;
  border: none;
  height: 122px;
  margin-bottom: 0; }

/* line 101, _customise.scss */
.navbar-brand {
  background: url(../images/logo.gif) top left no-repeat;
  text-indent: -9999px;
  width: 332px;
  height: 100px;
  display: block;
  margin: 19px 0 0 0; }
  @media only screen and (max-width: 992px) {
    /* line 101, _customise.scss */
    .navbar-brand {
      background: url(../images/logo-mobile.gif) top center no-repeat;
      width: 100%;
      margin-top: 16px; } }
  @media only screen and (max-width: 370px) {
    /* line 101, _customise.scss */
    .navbar-brand {
      background-size: 275px;
      margin-top: 25px; } }

/* line 123, _customise.scss */
.header {
  background: url(../images/bg-beach-min.jpg) top left no-repeat;
  background-size: cover;
  height: 562px;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 992px) {
    /* line 123, _customise.scss */
    .header {
      height: 632px; } }
  @media only screen and (max-width: 600px) {
    /* line 123, _customise.scss */
    .header {
      height: 448px; } }

/* line 143, _customise.scss */
.phone-wrap {
  display: table-cell;
  vertical-align: middle; }

/* line 148, _customise.scss */
.sml-txt {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  display: inline-block;
  margin: -8px 0 5px 0; }
  /* line 156, _customise.scss */
  .sml-txt > a {
    font-size: 12px;
    color: #999; }

/* line 163, _customise.scss */
a {
  color: #666;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  /* line 171, _customise.scss */
  a:hover, a:focus {
    text-decoration: none; }

/* line 177, _customise.scss */
.header > .container {
  height: 100%;
  position: relative;
  padding: 0;
  border-radius: 0;
  background: none; }
  /* line 193, _customise.scss */
  .header > .container .col-md-7 {
    margin-top: 90px;
    padding-left: 0;
    padding-right: 0; }
    @media only screen and (max-width: 992px) {
      /* line 193, _customise.scss */
      .header > .container .col-md-7 {
        margin-top: 50px;
        text-align: center; } }
    @media only screen and (max-width: 600px) {
      /* line 193, _customise.scss */
      .header > .container .col-md-7 {
        margin-top: 25px; } }
  /* line 208, _customise.scss */
  .header > .container .col-md-5 {
    position: relative;
    height: 100%; }
    @media only screen and (max-width: 992px) {
      /* line 208, _customise.scss */
      .header > .container .col-md-5 {
        position: absolute;
        height: 632px;
        overflow: visible;
        width: 100%;
        top: 0;
        background: url(../images/woman.png) bottom center no-repeat;
        background-size: 280px;
        padding: 0; } }
    @media only screen and (max-width: 600px) {
      /* line 208, _customise.scss */
      .header > .container .col-md-5 {
        height: 448px;
        background-size: 160px; } }
    @media only screen and (min-width: 500px) and (max-width: 599px) {
      /* line 208, _customise.scss */
      .header > .container .col-md-5 {
        background-size: 180px; } }
  /* line 237, _customise.scss */
  .header > .container h1 {
    color: #e11c22;
    font-size: 52px;
    line-height: 48px;
    margin-top: 0;
    letter-spacing: -.04em; }
    @media only screen and (max-width: 992px) {
      /* line 237, _customise.scss */
      .header > .container h1 {
        font-size: 39px;
        margin: 0 auto;
        line-height: 1.0em;
        margin-bottom: 14px; } }
    @media only screen and (max-width: 830px) {
      /* line 237, _customise.scss */
      .header > .container h1 {
        width: 430px; } }
    @media only screen and (max-width: 600px) {
      /* line 237, _customise.scss */
      .header > .container h1 {
        font-size: 39px;
        max-width: none;
        width: 100%;
        margin: 0 auto;
        line-height: 1.0em;
        margin-bottom: 14px; } }
    @media only screen and (min-width: 250px) and (max-width: 430px) {
      /* line 237, _customise.scss */
      .header > .container h1 {
        font-size: 33px; } }

/* line 282, _customise.scss */
.col p {
  font-size: 24px;
  line-height: 31px;
  color: #000;
  margin-top: 20px;
  letter-spacing: -.01em; }
  @media only screen and (max-width: 992px) {
    /* line 282, _customise.scss */
    .col p {
      margin: 0 auto; } }
  @media only screen and (max-width: 4000px) and (min-width: 993px) {
    /* line 282, _customise.scss */
    .col p {
      max-width: 430px; } }
  @media only screen and (max-width: 830px) and (min-width: 430px) {
    /* line 282, _customise.scss */
    .col p {
      max-width: 430px; } }
  @media only screen and (min-width: 250px) and (max-width: 600px) {
    /* line 282, _customise.scss */
    .col p {
      font-size: 19px;
      line-height: 1.1em; } }

/* line 318, _customise.scss */
.woman {
  position: absolute;
  bottom: 0;
  right: 10px; }
  @media only screen and (max-width: 992px) {
    /* line 318, _customise.scss */
    .woman {
      right: 18%;
      width: 46%;
      min-width: 370px;
      height: auto;
      display: none; } }

/* line 335, _customise.scss */
.module {
  padding-top: 50px;
  padding-bottom: 50px; }

/* line 342, _customise.scss */
.location {
  border-top: 6px solid  #e5e5e5; }

/* line 346, _customise.scss */
.widget {
  text-align: center; }
  /* line 349, _customise.scss */
  .widget h2 {
    color: #000;
    margin: 20px 0 20px;
    font-size: 18px;
    letter-spacing: -.04em;
    padding-bottom: 0;
    background: none;
    margin-bottom: 5px; }
  /* line 361, _customise.scss */
  .widget img {
    display: block;
    margin: 0 0 20px;
    margin: 0px auto; }

/* line 370, _customise.scss */
p {
  font-size: 15px;
  color: #666; }

/* line 375, _customise.scss */
.intro {
  text-align: center; }
  /* line 378, _customise.scss */
  .intro h2 {
    margin-top: 0; }

/* line 383, _customise.scss */
h2 {
  font-size: 45px;
  line-height: 42px;
  color: #e11c22;
  background: url(../images/dash.gif) bottom center no-repeat;
  padding-bottom: 30px;
  margin-bottom: 30px; }

/* line 393, _customise.scss */
h3 {
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  padding-bottom: 15px; }

/* line 402, _customise.scss */
.intro + .listings {
  padding-left: 0; }

@media only screen and (min-width: 250px) and (max-width: 992px) {
  /* line 406, _customise.scss */
  .listings {
    padding-left: 0; } }
/* line 414, _customise.scss */
.listings ul {
  padding: 0; }
/* line 418, _customise.scss */
.listings > .listings {
  padding-left: 0;
  padding-right: 0; }
/* line 424, _customise.scss */
.listings li {
  list-style-type: none;
  list-style-position: inside;
  font-size: 14px; }
  /* line 428, _customise.scss */
  .listings li .location-summary {
    padding-left: 25px;
    margin-top: 5px; }
  /* line 434, _customise.scss */
  .listings li a, .listings li p {
    font-size: 13px;
    margin: 7px 0; }
    @media only screen and (max-width: 450px) {
      /* line 434, _customise.scss */
      .listings li a, .listings li p {
        font-size: 12px; } }
  /* line 445, _customise.scss */
  .listings li a {
    background: url(../images/plus.gif) 0 0 no-repeat;
    padding-left: 25px;
    color: #555; }
    /* line 454, _customise.scss */
    .listings li a:hover, .listings li a:focus {
      text-decoration: none; }
  /* line 460, _customise.scss */
  .listings li a.minus {
    background: url(../images/minus.gif) 0 0 no-repeat; }

/* line 468, _customise.scss */
.img-responsive {
  width: 100%; }

@media only screen and (min-width: 250px) and (max-width: 767px) {
  /* line 472, _customise.scss */
  .qld ul {
    width: 50%;
    float: left; } }

/* line 481, _customise.scss */
.book-btn {
  width: 100%;
  background: #e11c22;
  padding: 13px 0;
  color: #fff;
  font-size: 20px;
  border-radius: 0;
  text-align: center;
  margin: 25px auto;
  border: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  /* line 498, _customise.scss */
  .book-btn:hover {
    background-color: #f25807; }

/* line 503, _customise.scss */
.mission-statement {
  background: url(../images/tile.gif) top left repeat; }
  /* line 507, _customise.scss */
  .mission-statement h2 {
    color: #fff;
    text-align: center;
    background: url(../images/dash-white.gif) bottom center no-repeat; }
  /* line 513, _customise.scss */
  .mission-statement p {
    color: #fff;
    text-align: center; }

/* line 520, _customise.scss */
.disclaimer {
  text-align: center; }
  /* line 523, _customise.scss */
  .disclaimer h3 {
    font-size: 20px;
    border-bottom: none;
    margin-top: 0;
    padding-bottom: 10px; }
  /* line 530, _customise.scss */
  .disclaimer p {
    margin-bottom: 0; }

/* line 536, _customise.scss */
.main-footer {
  border-top: 6px solid #ebebeb;
  background: #f4f4f4; }
  /* line 540, _customise.scss */
  .main-footer img {
    display: block;
    margin-bottom: 30px; }
  @media only screen and (min-width: 993px) {
    /* line 547, _customise.scss */
    .main-footer > .container {
      padding-left: 45px; } }
  @media only screen and (min-width: 250px) and (max-width: 450px) {
    /* line 553, _customise.scss */
    .main-footer [class^="col-xs"] {
      width: 100%; } }
  /* line 563, _customise.scss */
  .main-footer .col-md-2 {
    padding-left: 10px; }
  /* line 566, _customise.scss */
  .main-footer ul {
    padding-left: 0;
    margin-top: 10px; }
    /* line 570, _customise.scss */
    .main-footer ul li {
      list-style: none; }
    /* line 574, _customise.scss */
    .main-footer ul a {
      font-weight: normal;
      font-size: 12px; }

/* line 585, _customise.scss */
.book-area {
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  position: relative;
  z-index: 9999999px; }
  @media only screen and (min-width: 250px) and (max-width: 992px) {
    /* line 585, _customise.scss */
    .book-area {
      border-bottom: 8px solid #eee; } }

/* line 598, _customise.scss */
.book-col {
  display: table;
  height: 100%;
  padding: 25px;
  float: right; }
  @media only screen and (min-width: 250px) and (max-width: 465px) {
    /* line 598, _customise.scss */
    .book-col {
      padding: 25px 15px; } }
  /* line 608, _customise.scss */
  .book-col > div {
    display: table-cell;
    vertical-align: middle; }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      /* line 608, _customise.scss */
      .book-col > div {
        width: 85%;
        margin: 0 auto;
        display: block; } }

/* line 619, _customise.scss */
.booking-widget {
  position: relative;
  background: #e11c22;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  /* line 626, _customise.scss */
  .booking-widget label {
    display: block;
    clear: both;
    color: #e11c22;
    font-size: 20px;
    margin-bottom: 10px; }
  /* line 640, _customise.scss */
  .booking-widget select {
    background: #eeeeee;
    width: 74%;
    float: left;
    height: 52px;
    line-height: 52px;
    border: none;
    padding: 0 20px;
    display: inline-block;
    outline: none;
    /* remove focus ring from Webkit */
    border: 0;
    font-size: 20px;
    letter-spacing: -.014em; }
  /* line 660, _customise.scss */
  .booking-widget .buttonMenu {
    background: #e11c22;
    color: #fff;
    width: auto;
    float: right;
    height: auto;
    width: 25%; }
    @media only screen and (max-width: 550px) {
      /* line 660, _customise.scss */
      .booking-widget .buttonMenu {
        width: 100%;
        margin-top: 20px; } }
  /* line 674, _customise.scss */
  .booking-widget p.btn-primary {
    margin-top: 0;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    height: 52px;
    line-height: 52px;
    background: #e11c22;
    border: none;
    padding: 0;
    border: none;
    text-align: center;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    /* line 692, _customise.scss */
    .booking-widget p.btn-primary:hover {
      background-color: #f25807; }

/* line 705, _customise.scss */
.phone-area {
  background: #e11c22;
  overflow: hidden;
  text-align: center;
  overflow: visible; }
  /* line 711, _customise.scss */
  .phone-area h2 {
    color: #fff;
    font-size: 44px;
    text-align: center;
    background-image: none;
    margin-bottom: 0;
    margin-top: 5px;
    padding-bottom: 0; }
    @media only screen and (max-width: 993px) {
      /* line 711, _customise.scss */
      .phone-area h2 {
        font-size: 39px; } }
    @media only screen and (min-width: 250px) and (max-width: 470px) {
      /* line 711, _customise.scss */
      .phone-area h2 {
        font-size: 29px;
        margin: 0 auto; } }
    /* line 731, _customise.scss */
    .phone-area h2 img {
      margin-right: 14px;
      margin-top: -7px; }
    /* line 736, _customise.scss */
    .phone-area h2 + p {
      color: #fff;
      margin-top: 0;
      max-width: none;
      margin-bottom: 0; }

/* line 750, _customise.scss */
.jumbotron {
  padding: 0;
  overflow: hidden;
  background: #eee;
  margin-bottom: 0;
  position: relative;
  top: -200px;
  margin-bottom: -160px;
  background: #eee; }
  @media only screen and (min-width: 250px) and (max-width: 992px) {
    /* line 750, _customise.scss */
    .jumbotron {
      top: 0;
      margin-bottom: 0;
      width: 100%; } }

/* line 772, _customise.scss */
.form-wrap {
  width: 98%;
  overflow: hidden; }

/* line 777, _customise.scss */
select:focus, option:focus,
select::-moz-focus-inner,
option::-moz-focus-inner {
  outline: none;
  border: none; }

/* line 785, _customise.scss */
div.custom-select {
  float: left;
  background-image: url(../images/arrow-down.png);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  background-position: 94% center;
  width: 74%;
  background-color: #eee; }
  @media only screen and (max-width: 550px) {
    /* line 785, _customise.scss */
    div.custom-select {
      width: 100%; } }

/* line 802, _customise.scss */
div.custom-select select {
  background: none repeat scroll 0 0 transparent;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  width: 122%;
  margin-left: -5px;
  font-size: 19px; }

/* line 817, _customise.scss */
div.custom-select select option {
  border: none;
  font-family: arial, sans-serif;
  font-size: 21px; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 828, _customise.scss */
  .clear-left {
    clear: left; }

  /* line 832, _customise.scss */
  .top-mobile {
    position: absolute;
    top: 0;
    right: 0; } }
/* line 840, _customise.scss */
.mobile-footer {
  position: relative;
  margin-left: -10px; }
  @media only screen and (min-width: 250px) and (max-width: 400px) {
    /* line 840, _customise.scss */
    .mobile-footer {
      width: 100%; } }
  /* line 849, _customise.scss */
  .mobile-footer h3 {
    border-bottom: none;
    color: #555;
    font-size: 13px;
    padding-bottom: 0; }
  @media only screen and (min-width: 401px) and (max-width: 992px) {
    /* line 840, _customise.scss */
    .mobile-footer {
      width: 50%;
      float: left; } }

/* line 868, _customise.scss */
.copyright > .module {
  padding: 30px 0; }
  /* line 871, _customise.scss */
  .copyright > .module p {
    margin: 0;
    font-size: 12px;
    color: #999; }

/*# sourceMappingURL=style.css.map */
